body{
  background-image: url(img/background.jpg);
  background-color: black;
  background-repeat:no-repeat;
  background-position: top;
  margin:0px
}
nav{
  margin-bottom: 5%;
  height: 50%;
  width: inherit;
  color: white;
}
#logo_site{
  width: 60%;
  vertical-align: middle;
}
#navbar{
  margin:0;
  padding: 0;
  position: relative;
  left: 6em;
}
#navbar li{
  background-color: rgba(10, 10, 10, 0.8);
  display:inline-block;
  width: 20%;
  font-size: 2em;
  padding: 0.2em;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease 0s;
  color: grey;
}
#navbar li:hover{
  background-color: rgba( 150,150,150,0.5);
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: #EDEDED;
}
#navbar li.active{
  background-color: rgba(200, 200, 200, 0.4);
}
#title_center {
    color: white;
    text-align: center;
    background-color: rgba(25,25,25,0.7);
    border-radius: 2em;
    width: 60%;
    padding: 1em;
    position: relative;
    left: 20%;
    image-rendering: auto;
}
footer{
  background-color: black;
  width:100%;
  color: grey;
  position: fixed;
  bottom:0;
  left:0;
  text-align: center;
}
a, a:link, a:visited{
  text-decoration: none;
}


@media only screen and (max-width: 768px) {

   body { font-size: 0.5em; }
   #search, #search_bar{
     width:85%;
     left: 5%;
   }
}
